  <%- include('header') %>
  <h2>Open Roles:</h2>
  <% categories.forEach( category => { %>
    <div>
      <h3><%- category.category %></h3>
      <ul>
        <% category.vacancies.forEach( vacancy => { %>
          <li><a href="vacancy/<%- vacancy.id %>"><%- vacancy.title %></a></li>
        <% }) %>
      </ul>
    </div>
  <% }) %>
  <%- include('footer') %>
  
